In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Ans -

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.array([4,8,15,16,23,42])

In [4]:
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Ans-

In [ ]:
import pandas as pd

In [10]:
S = pd.Series(['a','b',44,21,'Ram','Rohit','r',35,10,'Amit'])
print(S)

0        a
1        b
2       44
3       21
4      Ram
5    Rohit
6        r
7       35
8       10
9     Amit
dtype: object

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data?
Then, print the DataFrame.
Ans-

In [17]:
Data = {'Name':  ["Alice", "Bob","Claire"], 'Age' :[25,30,27], 'Gender' : ["Female","Male","Female"]}

df = pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example?
Ans - Pandas is a data manipulation module. DataFrame let you store tabular data in Python.
The DataFrame lets you easily store and manipulate tabular data like rows and columns.
1)Series are 1-D, whereas Dataframe are 2-D. 2)Series consists of homogeneous data, whereas dataframe consists of heterogeneous data. 
3)series are value mutable whereas dataframe are not.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans - Some Common function that are use in pandas dataframe:-
1) to_datetime() 
2) Pandas apply()
3) use map()

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans - DaraFrame is mutable in Nature.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans - We have created two lists ‘author’ and article’ which have been passed to pd.Series() functions to create two Series. After creating the Series,
we created a dictionary and passed Series objects as values of the dictionary, and the keys of the dictionary will be served as Columns of the Dataframe.

In [18]:

import pandas as pd
 
# Creating two lists
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
 

auth_series = pd.Series(author)
article_series = pd.Series(article)
 

frame = {'Author': auth_series,
         'Article': article_series}
 
result = pd.DataFrame(frame)
 
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178